<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /parkir-cafe/
    
    # Redirect to index.php if file/directory doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
